mixin title(title, modificator, subTile, modificatorSubTile)
  .title-wrap.wow.fadeInDown
    h2.title(class=modificator)=title
    ul.title-element
      li
      li
        ul
          li
          li
          li
      li
  .sub-title.wow.fadeInDown(class=modificatorSubTile data-wow-duration="2s")
    p=subTile
