mixin title(title, modificator, subTile)
  .title-wrap
    h2.title(class=modificator)=title
    ul.title-element
      li
      li
        ul
          li
          li
          li
      li
  .sub-title
    p=subTile
    