footer.footer
  .container
    .footer__wrap.wow.fadeInDown
      .logo
        a(href="#top" data-scroll)
          img(src="assets/img/logo-dark.png" alt="")
      .footer.nav
        include ../../includes/nav/nav
      include ../../includes/social/social
  .footer__bottom.wow.fadeInUp
    | &copy; 2020 NURZAMAN. Все права защищены  