* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $releway;
}

.body-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

  .content {
    flex: 1 0 auto;
  }
}



// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(1150px);
  }

  @include md {
    max-width: rem(960px);
  }

  @include sm {
    max-width: rem(760px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// logo
.logo {
  max-width: rem(100px);
  width: 100%;

  a {
    display: flex;
  }

  svg,
  img {
    width: 100%;
    max-width: 100%;
  }
}

// logo end

// social
.social {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin-right: rem(30px);

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $mc;
        font-size: rem(18px);

        &:hover {
          color: $wc;
        }
      }
    }
  }
}

// social end



// btn
.btn-wrap {
  .btn {
    font-size: rem(18px);
    font-weight: 600;
    text-transform: uppercase;
    padding: rem(11px) rem(29px);
    border-radius: rem(5px);
    display: inline-flex;
    cursor: pointer;
    transition: $tr;

    @include sm {
      font-size: rem(16px);
      padding: rem(10px) rem(20px);
    }

    @include xs {
      font-size: rem(15px);
    }

    &_painted {
      border: rem(1px) solid $mc;
      background-color: $mc;
      color: $wc;

      &:hover {
        background-color: transparent;
        color: $mc;
      }
    }

    &_secondary {
      background-color: $wc;
      color: #38414a;

      &:hover {
        background-color: $mc;
        color: $wc;
      }
    }

    &_hollow {
      background-color: transparent;
      border: rem(1px) solid $mc;
      color: #232323;

      &:hover {
        background-color: $mc;
        color: $wc;
      }
    }
  }

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }
}

// btn end


// title-secondary
.title-secondary {
  font-weight: 700;
  margin-bottom: rem(20px);
  text-transform: uppercase;
  color: $bc;
}

// title-secondary end

// main title
.title-wrap {
  text-align: center;
  margin-bottom: rem(30px);

  .title {
    font-size: rem(30px);
    font-weight: 700;
    position: relative;
    margin-bottom: rem(20px);

    @include lg {
      font-size: rem(25px);
    }

    @include md {
      font-size: rem(23px);
    }

    @include sm {
      font-size: rem(20px);
    }

    @include xs {
      font-size: rem(18px);
    }



    &_secondary {
      color: $wc;
    }

    &_main {
      color: $bc;
    }
  }



  .title-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    li {

      &:nth-child(1),
      &:nth-child(3) {
        width: rem(100px);
        height: rem(1px);
        background-color: $mc;
      }

      &:nth-child(2) {

        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: rem(50px);
          padding: 0 rem(7px);

          li {
            width: rem(20px);
            height: rem(10px);
            border-radius: rem(2px);
            background-color: $mc;
            margin-bottom: rem(5px);

            &:first-child {
              margin-right: rem(5px);
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.sub-title {
  text-align: center;
  width: 66%;
  margin: auto;
  margin-bottom: rem(55px);

  @include sm {
    width: 80%;
    margin-bottom: rem(35px);
  }

  @include xs {
    width: 100%;
  }

  p {
    color: $wc;
    font-size: rem(18px);
    line-height: 1.33;

    @include md {
      font-size: rem(16px);
    }
  }

  &_main {
    p {
      color: #535353;
    }
  }
}

// main title end

// popup
.popup {
  border-radius: rem(10px);

  .logo {
    margin: auto;
    margin-bottom: rem(23px);
  }

  .form-group {
    max-width: rem(340px);
    width: 100%;
    margin: auto;
  }

  &__addional-info {
    color: #374049;
    letter-spacing: 0.4px;
    text-align: center;
    margin-top: rem(35px);

    @include md {
      margin-top: rem(30px);
    }

    @include sm {
      margin-top: rem(25px);
    }

    @include sm {
      margin-top: rem(15px);
    }
  }

  &_consultation {
    max-width: rem(650px);
    width: 100%;
  }
}

.fancybox-content {
  padding: rem(30px) rem(15px);
}

.fancybox-container {
  z-index: 9999999999999999;
}

.popup-wrap {
  background-color: rgba($bc, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
  padding: 0 rem(10px);
  display: none;

  .success {
    padding: rem(60px) rem(30px);
    background-color: $wc;
    border-radius: rem(10px);
    text-align: center;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @include xs {
      padding: rem(30px) rem(15px);
    }

    &__icon {
      font-size: rem(100px);
      color: #57c757;
      margin-bottom: rem(30px);

      @include xs {
        font-size: rem(70px);
        margin-bottom: rem(10px);
      }
    }

    h2 {
      font-size: rem(30px);
      margin-bottom: rem(10px);
      color: $mc;

      @include xs {
        font-size: rem(20px);
      }
    }

    p {
      font-size: rem(16px);
      color: $txtcolor;
    }
  }
}

// popup end