.header {
  &__contat {
    display: flex;
    flex-direction: row;

    p,
    a {
      color: $mc;
      cursor: pointer;
      transition: $tr;
      font-size: rem(18px);
      font-family: $roboto;

      &:hover {
        color: $wc;
      }

      i {
        margin-right: rem(15px);
      }
    }

    p {
      margin-right: rem(57px);

      i {
        transform: rotate(90deg);
      }
    }
  }

  &__top {
    background: $sc;
    padding: rem(15px) 0;

    @include sm {
      display: none;
    }
  }

  &__top-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  &__masterbar-wrap {
    padding: rem(12px) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include md {
      justify-content: space-around;
    }

    @include sm {
      justify-content: center;
    }

    @include xs {
      flex-direction: column;
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include sm {
      margin-left: rem(30px);
    }

    @include xs {
      margin-left: 0;
      margin-top: rem(20px);
    }

    .btn {
      @include lg {
        font-size: rem(16px);
      }
    }
  }

  .nav {
    @include md {
      display: none;
    }
  }

  .logo {
    @include sm {
      max-width: rem(70px);
    }
  }
}

.nav {
  margin-right: rem(67px);
  display: flex;
  align-items: center;

  @include lg {
    margin-right: rem(30px);
  }


  ul {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-right: rem(20px);

    a {
      color: $sc;
      font-size: rem(18px);

      @include lg {
        font-size: rem(17px);
      }

      &:hover {
        color: $mc;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.mobile-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
  background: #232323;
  z-index: 9999999999;
  border-top: rem(1px) solid $wc;



  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    li {
      margin: 0;
      margin-bottom: rem(10px);

      @include sm {
        transform: translateY(-40px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $wc;
        font-size: rem(30px);

        &:hover {
          color: $mc;
        }

        @include md {
          font-size: rem(28px);
        }

        @include sm {
          font-size: rem(25px);
        }

        @include xs {
          font-size: rem(23px);
        }
      }
    }
  }

  .header__top-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(15px) rem(15px);
    box-sizing: border-box;



    @include sm {
      bottom: 0;
      top: auto;

      i {
        display: none;
      }

      .header__contat {
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(5px);

        p {
          margin: 0;
          margin-bottom: rem(5px);
        }
      }

      flex-direction: column;
      align-items: center;

      .social {
        i {
          display: block;
        }
      }
    }
  }

  .header__top {
    @include md {
      padding-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

.sticky-header {
  transform: translateY(-200%);
  position: fixed;
  transition: $tr;
  z-index: 99999999;
  background-color: $wc;
  width: 100%;
  padding: rem(10px) 0;
  box-shadow: 0px 3px 34px 0px rgba(0, 0, 0, 0.47);
  box-sizing: border-box;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      max-width: rem(80px);

      @include sm {
        max-width: rem(70px);
      }
    }

    .nav {
      margin: 0;

      @include md {
        display: none;
      }
    }

    .btn {
      @include sm {
        font-size: rem(14px);
        padding: rem(8px) rem(20px);
      }
    }
  }
}